
:root {
    --primary-color:#070D0D;
    --secondary-color:#f5f5f5;
    --p3rcspective-color:#FF453AFF;
    --hover-color: #FF3B30FF;
    --bg-color: #070D0D;
}
[data-theme="dark"] {
    --primary-color: #f5f5f5;
    --secondary-color: #070D0D;
    --p3rcspective-color:#0A84FFFF;
    --hover-color:#007AFFFF;
    --bg-color:#f5f5f5;
}

/*fonts*/

@font-face {
    font-family: 'OffBit';
    src: url('fonts/OffBit-Regular.woff2') format('woff2'),
        url('fonts/OffBit-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OffBit Bold';
    src: url('fonts/OffBit-Bold.woff2') format('woff2'),
        url('fonts/OffBit-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*main*/
body{
background-color: var(--bg-color);
-webkit-transition: var(--bg-color) 1000ms linear;
-ms-transition: background-color 1000ms linear;
margin: 0;
transition: background-color 1000ms linear;
overflow: auto;
}

/*nav*/

.nav{
    background-color: transparent;
    display: flex;
    list-style:none;
    text-decoration: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
    position: sticky;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    text-decoration: none;
    font-family: 'Offbit';
    font-size: 32px;
    color: var(--secondary-color);
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

/*center text*/

.text-center {
    color: var(--secondary-color);
    font-family: 'OffBit';
    display: flex;
    margin: 0;
    max-width: 16px;
    font-size: xx-large;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
#p3rcspective{
    color: var(--p3rcspective-color);
    font-family: 'Offbit Bold' ;
    font-size: 98px;
}

/*footer*/

footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px;
}
footer a{
    color: var(--secondary-color);
    font-size: 18px;
    font-family: 'Offbit';
    text-decoration: none;
    list-style: none;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
footer .left-align{
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   padding: 0px 32px;
   word-spacing: 12px;
}
footer .theme-switch-wrapper{
padding: 0px 32px;
}

/*unique*/

a:hover {
    color: var(--hover-color);
    font-family: 'Offbit Bold';
}
a.email:after {
    content: 'email';
}
a.email:hover:after {
    content: 'p3rcspective@gmail.com';
}

/*toggle theme*/
.theme-switch-wrapper {
    display: flex;
    align-items: center;

}
.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}
.theme-switch input {
    display:none;
}
.slider {
    background-color: grey;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
  
.slider:before {
    background-color: #f5f5f5;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}
input:checked + .slider {
    background-color: #070D0D;
}
input:checked + .slider:before {
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}